{% extends "auctions/layout.html" %}

{% block body %}

<div class="container">
    <div class="sub-title">Create Listing</div>

    <form action="{% url 'auctions:crear_listado' %}", method="POST">
        {% csrf_token %}

            {{ form.titulo }}

            {{ form.descripcion}}

            {{ form.categoria }}

            {{ form.url_imagen }}

            {{ form.precio }}

        <button type="submit" class="btn btn-primary btn-new-blue" aria-label="submit">Submit</button>
    </form>
</div>
{% endblock %}